name: Compile Code

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Build
        run: zig build

      - name: Run + Test all
        run: |
          zig build run_all
          zig build test_all
